.restaurant-page {
  color: white;
  background-color: #141414;
  min-height: 100vh;
  padding-top: 0;
  position: relative;
  text-align: center;
}

.restaurant-info {
  margin-top: 40px;
}

.restaurant-banner {
  width: 80%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.restaurant-info h2 {
  font-size: 2rem;
  margin: 10px 0;
}

.restaurant-info .cuisine {
  font-style: italic;
  color: #ddd;
}

.restaurant-info .description {
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.5;
  color: #bbb;
}

.menu-section {
  margin-top: 40px;
}

.menu-section h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  padding: 0 40px;
}

.dish-card {
  background-color: #cc6f00;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(255, 255, 255, 0.05);
  transition: transform 0.2s;
}

.dish-card:hover {
  transform: scale(1.03);
}

.dish-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.dish-info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dish-info h4 {
  font-size: 1rem;
  margin: 0;
  color: #fff;
}

.dish-info span {
  color: #fff;
  font-weight: bold;
}

.back-button {
  position: absolute;
  top: 90px;
  left: 30px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 0;
  width: 40px;
  height: 28px;
  z-index: 5;
}

.back-button img {
  width: 100%;
  height: 100%;
  filter: invert(100%);
  display: block;
}

.back-button:hover {
  transform: scale(1.1);
}
